header {
    height: 15vh;
    background: peachpuff;
    z-index: 1000;
    border: 1px solid black;
    border-radius: 1vh 1vh 1vh 1vh;
    transition: 300ms;
    text-align: center;
}

header button {
    display: inline-block;
    text-decoration: none;
    background-color: peachpuff;
    width: 24.76%;
    height: 15vh;
    text-align: center;
    border: none;
    font: 3vmin monospace;
}

header button:nth-child(1) {
    border-radius: 1vh 0 0 1vh;
}

header button:nth-child(4) {
    border-radius: 0 1vh 1vh 0;
}

header button:hover {
    background-color: antiquewhite;
}